<h1>Enter your email to receive good emails</h1>

<% if !flash[:success] %>
  <%= form_for @user, url: {action: 'create'} do |f| %>
    <%= f.text_field :email %>
    <%= f.submit 'Subscribe!' %>
  <% end %>
<% else %>
  <p>You have now subscribed to the best email subscription of all time!</p>
<% end%>