.email-heading{
  margin: 20px;
}
.email-container {
  margin: 30px 20px;
}
.email-labels{
  margin: 15px 0px;
}

.email-form-input-width{
  width: 280px;
}

.email-form-input-height{
  height: 200px;
}

.th-spacing {
  width: 140px;
}

.th-body-spacing {
  width: 200px;
}

.th-align {
  text-align: left
}